<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Интервал получения данных о курсах валют в минутах -->
		<add key="IntervalMinutes" value="1" />
		<!-- Формат сохранения полученной информации (JSON, CSV или XML) -->
		<add key="DataFormat" value="JSON" />
		<!-- URL для получения данных о курсах валют -->
		<add key="ApiUrl" value="https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json" />
	</appSettings>
</configuration>